:root{
    --dark-brown: #3e2a1f;
    --brown: #6b4f3a;
    --sage: #cfe3d8;
    --light-bg: #f4f7f5;
    --white:#ffffff;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-bg);
}
header{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),url(/images/clarinet\ and\ violin.jpg);
    background-size: cover;
    background-position: center;

    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: floralwhite;

    border-bottom-left-radius:40px;
    border-bottom-right-radius: 40px;

    position: relative;
}

    #sitenav ul{
        list-style: none;
        padding: 10px;
        margin: 10px 0 0 0;

        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

    }
    #sitenav a{
        text-decoration: none;
        color: white;
        background-color: var(--dark-brown);
        padding:8px 15px;
        border-radius: 20px;
    }
    #sitenav a:hover{
        background-color: var(--brown);
    }

    #maincontainer{
        background: var(--white);

        width: 90%;
        max-width: 1200px;

        margin: 20px auto ;
        padding:25px ;

        border-radius: 16px;

        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
    h2{
        color: var(--dark-brown);
    }

    h3{
        color: var(--brown);
    }

    h4{
        margin-bottom: 5px;
    }

    p{
        line-height: 1.6;
    }

    img{
        width: 100%;
        height: 400px;
        object-fit: contain;

        border-radius: 10px;
        display: block;
        margin: 15px auto;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
    }

    td{
        width: 50%;
        padding:10px;
        vertical-align: top;
    }

    tr{
        border-bottom: 1px solid #ddd;
    }

    footer{
        background-color: var(--dark-brown);
        color: white;
        text-align: center;
        padding: 20px;
    }

    footer a{
        color: var(--sage);
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }

    .back-to-top{
        position: fixed;
        border-bottom: 20px;
        right: 20px;

        background-color: var(--dark-brown);
        color: #ffffff;
        padding: 10px 15px;

        border-radius: 20px;
        text-decoration: none;
    }
    .menu-toggle{
        display: none;
    }


    @media (max-width:600px) {
        header{
            height: 180px;
            border-radius: 0;
        }

        #maincontainer{
            width: 95%;
            margin: 10px auto;
            
        }

        #sitenav ul{
            flex-direction: column;
            align-items: center;
            background-color: var(--dark-brown);
            padding: 10px 0;
            border-radius: 10px;
        }

        #sitenav a {
            display: block;
            width:80%;
            margin: 5px 0;
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: 200px;
        }

        #sitenav{
            display: none;
        }

        .menu-toggle{
            display: block;
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 28px;
            color: #ffffff;
            cursor: pointer;
            z-index: 1000;
        }
        #sitenav.active{
            display: block;
        }

    }

    


